.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form {
    display: grid;
    gap: 20px;
    margin: auto;
}
.btn {
    padding: 12px !important;
    border: 2px solid green !important;
    color: green !important;
}
.h2 {
    color: cadetblue;
    text-transform: uppercase;
    text-align: center;
}